html, body {
  margin: 100;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1585;
  background-image:
    radial-gradient(circle at 50% 50%, white 2.5%, transparent 0),
    radial-gradient(circle at 30% 90%, white 1.5%, transparent 0),
    radial-gradient(circle at 70% 10%, white 1%, transparent 0),
    radial-gradient(circle at 10% 40%, white 1%, transparent 0);
  background-size: 45vmin 35vmin, 50vmin 70vmin, 60vmin 50vmin, 65vmin 50vmin;
  background-position: 0 0, 0 0, 0 0, 0 0;
/*   animation: snow 4s infinite linear; */
}
h1 {
  font-size: 6.5vw;
  padding-top: 60px;;
  font-family: "Mountains of Christmas", cursive;
  background: -o-linear-gradient(transparent, transparent) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin: 0;
  padding: 0;
  position: absolute;
  font-weight: 900;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  z-index: 200;
  -webkit-background-clip: text;
}
.Blue-Glitter {
  color: blue;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/sparklesskyblue.gif)
      repeat;
}
.cartoon {
  position: absolute;
  top: 45%;
  left: 29%;
  transform: translate(-57%, -50%);
}
.cartoon2 {
  position: absolute;
  top: 48%;
  left: 89%;
  transform: translate(-57%, -50%);
}
.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 1vmin solid #2cd72c;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

/****/
.cartoon {
  --skin: #fca;
  --skin-dark: #fa8;
  --hair: snow;
  --line: rgba(0,0,0,0.75);
  --beard: snow;
  --hat: #bb3232;
  width: 80vmin;
  height: 80vmin;
  overflow: hidden;
  border-radius: 0 0 30% 50%;
}

.forehead {
  width: 34%;
  height: 39%;
  background: var(--skin);
  border-radius: 20% 50% 50% 100% / 70% 100% 100% 100%;
  top: 22%;
  left: 35%;
}

.neck {
  width: 9%;
  height: 47%;
  background: var(--skin);
  transform: rotate(8deg);
  top: 48%;
  left: 55%;
  background: linear-gradient(45deg, transparent  50%, var(--skin) 0), linear-gradient(-65deg, var(--skin) 47%, var(--skin-dark) 0);
}

.chin {
  width: 20%;
  height: 10%;
  border-radius: 50% 100% / 100%;
  background: var(--skin);
  transform: rotate(-39deg);
  top: 58.5%;
  left: 41.5%;
}

.cheek {
  width: 11%;
  height: 30%;
  box-shadow: 7.5vmin -5vmin var(--skin);
  top: 49%;
  left: 31%;
  transform: rotate(-15deg);
}
.hat {
  width: 37%;
  height: 20%;
  background: var(--hat);
  border-radius: 100% 20% 0 0;
  top: -3%;
  left: 50%;
  transform: translate(-50%, 0) rotate(1deg);
}

.hat::before {
  width: 110%;
  height: 50%;
  border-radius: 100% / 50%;
  bottom: -17%;
  left: -5%;
  box-shadow: inset 0 4vmin white;
  transform: rotate(11deg);
   outline: black solid 10px;
}

.hat::after {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background: var(--beard);
  right: -5vmin;
  top: -15%;
}

.hair {
  width: 45%;
  height: 16%;
  background: var(--hair);
  top: 10%;
  left: 25%;
  transform: rotate(2deg);
}

.hair::after {
  width: -3%;
  height: 150%;
  top: 0%;
  background: var(--hair);
  border-radius: 50%;
  transform: translate(0, -15%);
  clip-path: polygon(100% 50%, 0% 50%, 0% 0%, 50% 0%, 30% 25%, 62% 0%, 50% 20%, 75% 5%, 40% 50%);
}

.hair::before {
  top: 67%;
  height: 160%;
  width: 30%;
  border-radius: 100% 70% 150% 100%;
  background: var(--hair);
  right: -10%;
  transform: rotate(-4deg)
}

.hair-back {
  width: 10%;
  height: 25%;
  top: 20%;
  left: 33%;
  transform: rotate(-10deg);
  background: var(--hair);
  box-shadow: inset 0 0 0 100vmin rgba(0, 0, 0, 0.33)
}

.ear {
  box-sizing: border-box;
  border: 2vmin solid var(--skin);
  width: 9vmin;
  height: 12vmin;
  background: var(--skin);
  border-radius: 100% 100% 100% 100% / 100% 70% 130% 100%;
  transform: rotate(18deg);
  top: 40%;
  left: 64%;
  box-shadow: inset 0.5vmin 0.5vmin var(--skin-dark);
}

.ear::after {
  border-radius: 50%;
  top: 93%;
  left: 5%;
  width: 3vmin;
  height: 3vmin;
  box-shadow: 0.25vmin -0.5vmin 0vmin 0.125vmin var(--skin-dark);
}

.ear2 {
  width: 12%;
  height: 49%;
  background: var(--skin-dark);
  transform: rotate(-15deg);
  top: 40%;
  left: 34.5%;
}

.mouth {
  width: 10%;
  height: 4%;
  top: 56%;
  left: 44%;
  transform: rotate(-9deg);
  box-shadow: 0.25vmin 0.25vmin var(--line);
}

.mouth::after {
  width:3vmin;
  height: 2vmin;
  border-radius: 50%;
  border: 0.25vmin solid transparent;
  border-right-color: var(--line);
  transform: rotate(-6deg);
  right: -0.33vmin;
}

.eyebrow-1 {
  width: 10%;
  height: 0%;
  border-bottom: 2vmin solid var(--hair);
  border-right: 0;
  top: 37%;
  left: 48.5%;
  transform: rotate(-4deg);
  clip-path: polygon(0% 40%, 100% 0%, 100% 100%, 0% 100%);
}

.eyebrow-2 {
  width: 12%;
  height: 7%;
  border: 2vmin solid transparent;
  border-right: 0.25vmin solid transparent;
  border-top: 2vmin solid var(--hair);
  top: 34%;
  transform: rotate(20deg);
  left: 33.5%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.eyes {
  width: 3vmin;
  height: 3vmin;
  background: #531; var(--line);
  top: 38%;
  left: 40%;
  box-shadow: 8vmin 1vmin #531; var(--line);
  clip-path: polygon(0% 0%, 100% 40%, 100% 80%, 400% 60%, 400% 200%, -32% 200%);
}

.nose {
  width: 6vmin;
  height: 8vmin;
  transform: skew(-10deg);
  box-shadow:  -0.75vmin 0.5vmin var(--skin-dark);
  border-radius: 50% 0 30% 20%;
  top: 40%;
  left: 44%;
}

.body, .shirt {
  width: 99%;
  height: 44%;
  background: var(--skin);
  top: 79%;
  left: 28%;
  transform: translate(-38%, 0);
  border-radius: 50% 45%;
  box-shadow: inset 1vmin -53vmin #ffffff, inset 1vmin -54vmin #ef1515;
}
.beard2{
  width: 28%;
  height: 48%;
  background: var(--beard);
  top: 44%;
  left: 63%;
  transform: translate(-50%, 0);
  border-radius: 100% / 120% 120% 80% 80%;
}
.beard {
  width: 58%;
  height: 48%;
  background: var(--beard);
  top: 53%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100% / 120% 120% 80% 80%;
}
.beard3 {
  width: 25%;
  height: 36%;
  background: var(--beard);
  top: 45%;
  left: 34%;
  transform: translate(-50%, 0);
  border-radius: 100% / 120% 120% 80% 80%;
}
.mustache {
  width: 10%;
  height: 10%;
  background: #fff;
  border-radius: 100% 20% 100% 0;
  top: 31%;
  left: 48%;
  transform-origin: top right;
  transform: translate(-100%, 0) rotate(25deg);
}

.mustache + .mustache {
  left: 50%;
  border-radius: 20% 98% 0 100%;
  transform-origin: top left;
  transform: rotate(-22deg);
}

.shirt-neck {
  width: 32%;
  height: 14%;
  bottom: 0;
  left: 28%;
  background: #6af;
  clip-path: polygon(72% 57%, 28% 4%, 40% 100%, 73% 100%, 77% 0%, 90% 7%, 93% 30%, 80% 37%, 93% 45%, 85% 100%, 28% 100%, 18% 48%, 27% 40%, 19% 37%);
  background-image:
repeating-radial-gradient(#ef0c0c 0, #dd001d 3px, transparent 4px, transparent 20px, #f61919 21px, #ec182c 25px, transparent 26px, transparent 50px);
  background-size:90px 95px;
  background-position: -30px;
}

.shirt {
  width: 105%;
  height: 39%;
  box-shadow: none;
  transform: translate(-38%, 0) scale(1.01);
  clip-path: polygon(14% 7%, 70% -16%, 72% 84%, 43% 106%, 92% 0%, 104% 0%, 100% 100%, 0% 100%);
  background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;
}
@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  40% {
    background-position: 10px 14vmin, -20px 28vmin, 20px 20vmin, 75px 20vmin;
  }
  60% {
    background-position: -10px 21vmin, -30px 42vmin, 30px 30vmin, 50px 30vmin;
  }
  100% {
    background-position: 0 35vmin, 0 70vmin, 0 50vmin, 0 50vmin;
  }
}









.cartoon2 {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    
}

.cartoon2 div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 1vmin solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

/****/
.cartoon2 {
  --skin: #fca;
  --skin-dark: #fa8;
  --hair: #531;
  --line: rgba(0,0,0,0.75);
  --beard: snow;
  --hat: Green;
  width: 122vmin;
  height: 94vmin;
  overflow: hidden;
  border-radius: 0 0 30% 50%;
}

.forehead2 {
  width: 27%;
  height: 40%;
  background: var(--skin);
  border-radius: 20% 50% 50% 100% / 70% 100% 100% 100%;
  top: 22%;
  left: 35%;
}
.hat2 {
  width: 19%;
  height: 30%;
  background: var(--hat);
  border-radius: 100% 20% 0 0;
  top: -3%;
  left: 60%;
  transform: translate(-50%, 0) rotate(34deg);
}

.hat2::before {
  width: 110%;
  height: 50%;
  border-radius: 100% / 50%;
  bottom: -17%;
  left: -5%;
  box-shadow: inset 0 4vmin white;
  transform: rotate(11deg);
   outline: black solid 10px;
}

.hat2::after {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background: var(--beard);
  right: -5vmin;
  top: -15%;
}

.neck2 {
  width: 8%;
  height: 37%;
  background: var(--skin);
  transform: rotate(8deg);
  top: 48%;
  left: 55%;
  background: linear-gradient(45deg, transparent  50%, var(--skin) 0), linear-gradient(-65deg, var(--skin) 47%, var(--skin-dark) 0);
}

.chin2 {
  width: 20%;
  height: 10%;
  border-radius: 50% 100% / 100%;
  background: var(--skin);
  transform: rotate(-39deg);
  top: 60.5%;
  left: 41.5%;
}

.cheek2 {
  width: 7%;
  height: 41%;
  box-shadow: 7.5vmin -5vmin var(--skin);
  top: 37%;
  left: 36%;
  transform: rotate(-15deg);
}

.hair2 {
  width: 36%;
  height: 15%;
  background: var(--hair);
  top: 17%;
  left: 32%;
  transform: rotate(2deg);
}

.hair2::after {
  width: 55%;
  height: 108%;
  top: 0%;
  background: var(--hair);
  border-radius: 50%;
  transform: translate(0, 1%);
  clip-path: polygon(100% 50%, 0% 50%, 0% 0%, 50% 0%, 30% 25%, 62% 0%, 50% 20%, 75% 5%, 40% 50%);
}

.hair2::before {
  top: 59%;
  height: 160%;
  width: 30%;
  border-radius: 100% 70% 150% 100%;
  background: var(--hair);
  right: -10%;
  transform: rotate(-4deg)
}

.hair-back2 {
  width: 35%;
  height: 25%;
  top: 22%;
  left: 33%;
  transform: rotate(-10deg);
  background: var(--hair);
  box-shadow: inset 0 0 0 100vmin rgba(0, 0, 0, 0.33)
}

.ear2 {
  box-sizing: border-box;
  border: 2vmin solid var(--skin);
  width: 12vmin;
  height: 18vmin;
  background: var(--skin);
  border-radius: 100% 100% 100% 100% / 100% 70% 130% 100%;
  transform: rotate(18deg);
  top: 31%;
  left: 64%;
  box-shadow: inset 0.5vmin 0.5vmin var(--skin-dark);
}

.ear2::after {
  border-radius: 50%;
  top: 41%;
  left: 5%;
  width: 3vmin;
  height: 3vmin;
  box-shadow: 0.25vmin -0.5vmin 0vmin 0.125vmin var(--skin-dark);
}

.ear22 {
  width: 10%;
  height: 21%;
  background: var(--skin-dark);
  transform: rotate(-15deg);
  top: 40%;
  left: 34.5%;
}

.mouth2 {
  width: 11%;
  height: 4%;
  top: 58%;
  left: 44%;
  transform: rotate(-9deg);
  box-shadow: 0.25vmin 0.25vmin var(--line);
}

.mouth2::after {
  width:-9vmin;
  height: 2vmin;
  border-radius: 50%;
  border: 0.25vmin solid transparent;
  border-right-color: var(--line);
  transform: rotate(-6deg);
  right: -0.33vmin;
}

.eyebrow2-1 {
  width: 4%;
  height: -15%;
  border-bottom: 2vmin solid var(--hair);
  border-right: 0;
  top: 35%;
  left: 49.7%;
  transform: rotate(-4deg);
  clip-path: polygon(0% 40%, 100% 0%, 100% 100%, 0% 100%);
}

.eyebrow2-2 {
  width: 8%;
  height: 7%;
  border: 2vmin solid transparent;
  border-right: 0.25vmin solid transparent;
  border-top: 2vmin solid var(--hair);
  top: 32%;
  transform: rotate(20deg);
  left: 37.6%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.eyes2 {
  width: 3vmin;
  height: 2vmin;
  background: #302cbe; var(--line);
  top: 37%;
  left: 40%;
  box-shadow: 8vmin 1vmin #531; var(--line);
  clip-path: polygon(-27% 16%, 100% 40%, 100% 80%, 400% 60%, 400% 200%, 0% 200%);
}

.nose2 {
  width: 5vmin;
  height: 10vmin;
  transform: skew(-10deg);
  box-shadow:  -0.75vmin 0.5vmin var(--skin-dark);
  border-radius: 50% 0 30% 20%;
  top: 40%;
  left: 44%;
}

.body2, .shirt2 {
  width: 60%;
  height: 80%;
  background: var(--skin);
  top: 75%;
  left: 50%;
  transform: translate(-38%, 0);
  border-radius: 50% 45%;
  box-shadow: inset 1vmin -53vmin white, inset 1vmin -54vmin #fafafa;
}
.bell {
  width: 16%;
  height: 23%;
  background:
    radial-gradient(circle at 60% 50%, darkorange 15%, #0000 0),
    linear-gradient(to right, #0000 56%, darkorange 0 63%, #0000 0) no-repeat 50% 100% / 100% 50%
    ;
  background-color: gold;
  border-radius: 50%;
  top: 55.8%;
  left: 62%;
  transform: rotate(-20deg)
}
.mullet {
  width: 32%;
  height: 36%;
  background: var(--hair);
  clip-path: polygon(0% 100%, 100% 100%, 60% 90%, 90% 80%, 70% 75%, 100% 70%, 65% 60%, 100% 50%, 100% 50%, 0% 40%);
  top: 40%;
  left: 51%;
}

/* Shirt pattern adapted from Lea Verou's https://leaverou.github.io/css3patterns/#marrakesh*/
.shirt2-neck {
  width: 41%;
  height: 25%;
  bottom: 0;
  left: 35%;
  background: #6af;
  clip-path: polygon(22% 13%, 34% 4%, 40% 100%, 73% 100%, 77% 0%, 90% 7%, 93% 30%, 80% 37%, 93% 45%, 85% 100%, 28% 100%, 18% 48%, 27% 40%, 19% 37%);
 background-color: darkgreen;
  background-size:90px 90px;
  background-position: -30px;
}

.shirt2 {
  box-shadow: none;
  transform: translate(-38%, 0) scale(1.01);
  clip-path: polygon(0% 0%, 35% 0%, 40% 33%, 38% 58%, 15% 0%, 100% 0%, 100% 180%, -77% 141%);
   background-color: greenyellow;
  background-size:90px 90px;
}

